 .nav a {
	color: green;
	font-size: 140%; 
}
.nav {
	background-color: blue;
	font: 'helvetica'; 
}
 .nav a {
	color: green;
	font-size: 140%; 
}
.nav {
	background-color: blue;
	font: 'helvetica'; 
}
